@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&display=swap');

.mainsobrenosotros{
    margin: $margin;
    .sobrenosotros{
        .informacion{
            margin-bottom: $margin;
            list-style: none;
            color: $color-primario;
            padding-bottom: 30px;
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
            text-align: center;
            font-size: 16px;
        }
    }
}

@media screen and (min-width:0px) and (max-width: 768px){
    .mainsobrenosotros{
        .sobrenosotros ul{
            width: 90%;
            .informacion{
            font-size: 1rem;
            }
        }
    }
}


